body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Skranji", serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  width: 100%;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  border: 7px solid #d09348;
  box-shadow: #ff8c00 0 25px 60px -5px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #d09348;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #d09348;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signup {
  text-align: center;
}

.signup a:hover {
  text-decoration: none;
  color: #ff8c00;
}

.signup a {
  color: #cc934e;
  text-decoration: none;
}

.create-account {
  text-align: center;
}

.create-account a:hover {
  text-decoration: none;
  color: #ff8c00;
}

.create-account a {
  color: #cc934e;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: medium;
  box-sizing: border-box;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  text-decoration: underline;
  color: #cc934e;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #cc934e;
  font-family: "Skranji", serif;
}

.submit:hover {
  background-color: #ff8c00;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
